.employeeCount {
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: snow;
  margin-top: 15px;
  letter-spacing: 3px;
}
.table {
  background-color: #212121;
  box-shadow: -4px -4px 14px #353434, 4px 4px 14px #000000bb;
  width: 90%;
  margin: 40px auto;
  font-family: "Michroma", sans-serif;
  border-radius: 6px;
}

.avatar {
  border-radius: 50%;
  border: 0.5px solid rgb(0, 255, 55);
}
